[submodule "external_dependencies/acc-models-lhc"]
	path = external_dependencies/acc-models-lhc
	url = https://gitlab.cern.ch/acc-models/acc-models-lhc.git
	branch = hl16

# [submodule "external_dependencies/xtrack"]
# 	path = external_dependencies/xtrack
# 	url = https://github.com/ColasDroin/xtrack.git
# 	branch = lumi_with_crabs

[submodule "external_dependencies/xmask"]
	path = external_dependencies/xmask
	url = https://github.com/xsuite/xmask.git
[submodule "external_dependencies/acc-models-lhc-v13"]
	path = external_dependencies/acc-models-lhc-v13
	url = https://github.com/ColasDroin/hllhc13.git
