# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Submission files
studies/submission_files/*
!studies/submission_files/.gitkeep

# Heavy file
*.json
*.parquet

# AFS files
.__afs*

# Python virtual environment
.venv/

#vscode config
.vscode/

# Scans
studies/scans/**/base_collider
studies/scans/**/id_job.yaml
studies/scans/**/tree_maker.json
studies/scans/**/tree_maker.log
!studies/scans/**/da.parquet
!studies/scans/.gitkeep

# filling_schemes
!studies/filling_scheme/*

# misc
da-study-docker_latest.sif