-e file:external_dependencies/xmask ; python_version >= "3.9" and python_version < "4.0"
anytree==2.12.1 ; python_version >= "3.9" and python_version < "4"
awkward-cpp==37 ; python_version >= "3.9" and python_version < "4.0"
awkward==2.6.7 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.17.0 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
cpymad==1.16.3 ; python_version >= "3.9" and python_version < "4.0"
cramjam==2.8.3 ; python_version >= "3.9" and python_version < "4.0"
cupy-cuda11x==13.3.0 ; python_version >= "3.9" and python_version < "4.0"
cython==3.0.11 ; python_version >= "3.9" and python_version < "4.0"
fastparquet==2024.5.0 ; python_version >= "3.9" and python_version < "4.0"
fastrlock==0.8.2 ; python_version >= "3.9" and python_version < "4.0"
fsspec==2024.6.1 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==8.4.0 ; python_version >= "3.9" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.9" and python_version < "4.0"
lark==1.2.2 ; python_version >= "3.9" and python_version < "4.0"
llvmlite==0.43.0 ; python_version >= "3.9" and python_version < "4.0"
minrpc==0.1.0 ; python_version >= "3.9" and python_version < "4.0"
nafflib==2.0.2 ; python_version >= "3.9" and python_version < "4.0"
numba==0.60.0 ; python_version >= "3.9" and python_version < "4.0"
numpy==2.0.1 ; python_version >= "3.9" and python_version < "4.0"
orjson==3.10.7 ; python_version >= "3.9" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.9" and python_version < "4.0"
pandas==2.2.2 ; python_version >= "3.9" and python_version < "4.0"
pathlib==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
psutil==6.0.0 ; python_version >= "3.9" and python_version < "4.0"
pyarrow==17.0.0 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.9"
ruamel-yaml==0.18.6 ; python_version >= "3.9" and python_version < "4.0"
scipy==1.13.1 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4"
tqdm==4.66.5 ; python_version >= "3.9" and python_version < "4.0"
tree-maker @ git+https://github.com/xsuite/tree_maker.git@5eced09a6b57dc70a3eadd99197bd9c7afeeaec7 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.9" and python_version < "4.0"
xcoll==0.5.0 ; python_version >= "3.9" and python_version < "4.0"
xdeps==0.6.3 ; python_version >= "3.9" and python_version < "4.0"
xfields==0.20.3 ; python_version >= "3.9" and python_version < "4.0"
xobjects==0.4.4 ; python_version >= "3.9" and python_version < "4.0"
xpart==0.18.6 ; python_version >= "3.9" and python_version < "4.0"
xsuite==0.16.3 ; python_version >= "3.9" and python_version < "4.0"
xtrack==0.65.5 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.20.0 ; python_version >= "3.9" and python_version < "3.12"
